src/maquette.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- ****************************** -->
  <!-- *** INSTANCIATION DES TYPES ** -->
  <!-- ****************************** -->

  <xs:element name="GestionMaquettes" type="GestionMaquettesType" />

  <!-- ****************************** -->
  <!-- **** DEFINITION DES TYPES **** -->
  <!-- ****************************** -->

  <xs:complexType name="GestionMaquettesType">
    <xs:sequence>
      <xs:element name="Maquettes" type="MaquettesType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Donnees" type="DonneesType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MaquettesType">
    <xs:sequence>
      <xs:element name="Maquette" type="MaquetteType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DonneesType">
    <xs:all>
      <xs:element name="Departements" type="DepartementsType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="UFs" type="UFsType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Formations" type="FormationsType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="GrandsDomaines" type="GrandsDomainesType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Semestres" type="SemestresType" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="EpreuvesType">
    <xs:sequence>
      <xs:element name="Epreuve" type="EpreuveType" minOccurs="1" maxOccurs="unbounded">
		<xs:key name="EpreuveKey">
    	  <xs:selector xpath="Epreuve" />
    	  <xs:field xpath="@idEpreuve" />
		</xs:key>
	  </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UEsType">
    <xs:sequence>
      <xs:element name="UE" type="UEType" minOccurs="1" maxOccurs="unbounded">
		  <xs:key name="UEKey">
			  <xs:selector xpath="UE" />
			  <xs:field xpath="@idUE" />
		  </xs:key>
	  </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CompetencesType">
    <xs:sequence>
      <xs:element name="Competence" type="CompetenceType" minOccurs="1" maxOccurs="unbounded">
		  <xs:key name="CompetenceKey">
			  <xs:selector xpath="Competence" />
			  <xs:field xpath="@idCompetence" />
		  </xs:key>
	  </xs:element>

    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EnseignantsType">
    <xs:sequence>
      <xs:element name="Enseignant" type="EnseignantType" minOccurs="1" maxOccurs="unbounded">
		  <xs:key name="EnseignantKey">
			  <xs:selector xpath="Enseignant" />
			  <xs:field xpath="@idEnseignant" />
		  </xs:key>
	  </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DepartementsType">
    <xs:sequence>
      <xs:element name="Departement" type="DepartementType" minOccurs="1" maxOccurs="unbounded">
		  <xs:key name="DepartementKey">
			  <xs:selector xpath="Departement" />
			  <xs:field xpath="@idDepartement" />
		  </xs:key>
	  </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UFsType">
    <xs:sequence>
      <xs:element name="UF" type="UFType" minOccurs="1" maxOccurs="unbounded">
		  <xs:key name="UFKey">
			  <xs:selector xpath="UF" />
			  <xs:field xpath="@idUF" />
		  </xs:key>
	  </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FormationsType">
    <xs:sequence>
      <xs:element name="Formation" type="FormationType" minOccurs="1" maxOccurs="unbounded">
		  <xs:key name="FormationKey">
			  <xs:selector xpath="Formation" />
			  <xs:field xpath="@idFormation" />
		  </xs:key>
	  </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SousFormationsType">
    <xs:sequence>
      <xs:element name="SousFormation" type="SousFormationType" minOccurs="1" maxOccurs="unbounded">
		  <xs:key name="SousFormationKey">
			  <xs:selector xpath="SousFormation" />
			  <xs:field xpath="@idSousFormation" />
		  </xs:key>
	  </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GrandsDomainesType">
    <xs:sequence>
      <xs:element name="GrandDomaine" type="GrandDomaineType" minOccurs="1" maxOccurs="unbounded">
		  <xs:key name="GrandDomaineKey">
			  <xs:selector xpath="GrandDomaine" />
			  <xs:field xpath="@idGrandDomaine" />
		  </xs:key>
	  </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SemestresType">
    <xs:sequence>
      <xs:element name="Semestre" type="SemestreType" minOccurs="1" maxOccurs="unbounded">
		  <xs:key name="SemestreKey">
			  <xs:selector xpath="Semestre" />
			  <xs:field xpath="@idSemestre" />
		  </xs:key>
	  </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MaquetteType">
    <xs:sequence>
      <xs:element name="Departement" type="xs:token" minOccurs="1" maxOccurs="unbounded">
			<xs:keyref name="MqtDepartementRef" refer="DepartementKey">
		    	<xs:selector xpath="." />
		    	<xs:field xpath="Departement" />
		  	</xs:keyref>
	  </xs:element>
      <xs:element name="Formation" type="xs:token" minOccurs="1" maxOccurs="unbounded">
			<xs:keyref name="MqtFormationRef" refer="FormationKey">
		    	<xs:selector xpath="." />
		    	<xs:field xpath="Formation" />
		  	</xs:keyref>
	  </xs:element>
      <xs:element name="UF" type="xs:token" minOccurs="1" maxOccurs="unbounded">
			<xs:keyref name="MqtUFRef" refer="UFKey">
		    	<xs:selector xpath="." />
		    	<xs:field xpath="UF" />
		  	</xs:keyref>
	  </xs:element>
    </xs:sequence>
    <xs:attribute name="nomMaquette" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name ="EpreuveType">

    <xs:attribute name="idEpreuve" type="xs:token"/>
	<xs:attribute name="nomEpreuve" type="xs:string"/>
  	<xs:attribute name="codeApogeeEpreuve" type="xs:string"/>
	<xs:attribute name="coefEpreuve" type="xs:decimal"/>
	<xs:attribute name="natureEpreuve" type="xs:string"/>

  </xs:complexType>

  <xs:complexType name ="UEType">
	<xs:sequence>
    	<xs:element name="Epreuves" type="EpreuvesType" minOccurs="0"/>
    	<xs:element name="Competences" type="CompetencesType" minOccurs="0"/>
		<xs:element name="enseignantResponsable" type="xs:token">
			<xs:keyref name="EnseignantKeyRef" refer="EnseignantKey">
		    	<xs:selector xpath="." />
		    	<xs:field xpath="enseignantResponsable" />
		  	</xs:keyref>
		</xs:element>
	</xs:sequence>
	<xs:attribute name="idUE" type="xs:token"/>
    <xs:attribute name="intituleUE" type="xs:string"/>
  	<xs:attribute name="heuresCMUE" type="xs:decimal"/>
    <xs:attribute name="heuresTDUE" type="xs:decimal"/>
    <xs:attribute name="heuresTPUE" type="xs:decimal"/>

  </xs:complexType>

  <xs:complexType name ="CompetenceType">
    <xs:attribute name="idCompetence" type="xs:token"/>
	  <xs:attribute name="nomCompetence" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name ="EnseignantType">
    <xs:attribute name="idEnseignant" type="xs:token"/>
	<xs:attribute name="nomEnseignant" type="xs:string"/>
    <xs:attribute name="prenomEnseignant" type="xs:string"/>
    <xs:attribute name="emailEnseignant" type="xs:string"/>
    <xs:attribute name="gradeEnseignant" type="xs:string"/>
    <xs:attribute name="bureauEnseignant" type="xs:string"/>
    <xs:attribute name="telEnseignant" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name ="DepartementType">
	<xs:sequence>
		<xs:element name="chefDeDepartement" type="xs:token">
		  <xs:keyref name="DepEnseignantKeyRef" refer="EnseignantKey">
		    <xs:selector xpath="." />
		    <xs:field xpath="chefDeDepartement" />
		  </xs:keyref>
		</xs:element>
		<xs:element name="Enseignants" type="EnseignantsType" />
	</xs:sequence>

    <xs:attribute name="idDepartement" type="xs:token"/>
    <xs:attribute name="nomDepartement" type="xs:string"/>
    <xs:attribute name="acronymeDepartement" type="xs:string"/>
    <xs:attribute name="dateCreationDepartement" type="xs:date"/>

  </xs:complexType>

  <xs:complexType name ="UFType">
	<xs:sequence>
		<xs:element name="enseignantResponsable" type="xs:token">
			<xs:keyref name="UFEnseignantKeyRef" refer="EnseignantKey">
		    	<xs:selector xpath="." />
		    	<xs:field xpath="enseignantResponsable" />
		  	</xs:keyref>
		</xs:element>
		<xs:element name="idGrandDomaineRef" type="xs:token">
			<xs:keyref name="GrandDomaineKeyRef" refer="GrandDomaineKey">
		    	<xs:selector xpath="." />
		    	<xs:field xpath="idGrandDomaineRef" />
		  	</xs:keyref>
		</xs:element>
		<xs:element name="idSemestreRef" type="xs:token">
			<xs:keyref name="idSemestreRef" refer="SemestreKey">
		    	<xs:selector xpath="." />
		    	<xs:field xpath="idSemestreRef" />
		  	</xs:keyref>
		</xs:element>
		<xs:element name="UEs" type="UEsType" minOccurs="0"/>
	</xs:sequence>

	<xs:attribute name="codeApogeeUF" type="xs:token"/>
    <xs:attribute name="nomUF" type="xs:string"/>
    <xs:attribute name="heterogeneUF" type="xs:boolean"/>
    <xs:attribute name="continueUF" type="xs:boolean"/>
    <xs:attribute name="evalCompetenceUF" type="xs:boolean"/>
    <xs:attribute name="totalPresentielUF" type="xs:decimal"/>
    <xs:attribute name="coefUF" type="xs:decimal"/>
    <xs:attribute name="ectsUF" type="xs:integer"/>
    <xs:attribute name="obligatoire" type="xs:string"/>

  </xs:complexType>

  <xs:complexType name ="FormationType">
	<xs:sequence>
		<xs:element name="SousFormations" type="SousFormationsType" minOccurs="0" />
		<xs:element name="departement" type="xs:token">
			<xs:keyref name="departementRef" refer="DepartementKey">
		    	<xs:selector xpath="." />
		    	<xs:field xpath="departement" />
		  	</xs:keyref>
		</xs:element>
	</xs:sequence>

    <xs:attribute name="idFormation" type="xs:token"/>
    <xs:attribute name="nomFormation" type="xs:string"/>
    <xs:attribute name="acronymeFormation" type="xs:string"/>

  </xs:complexType>

  <xs:complexType name ="SousFormationType">
    <xs:attribute name="idSousFormation" type="xs:token"/>
    <xs:attribute name="nomSousFormation" type="xs:string"/>
    <xs:attribute name="acronymeSousFormation" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name ="GrandDomaineType">
    <xs:attribute name="idGrandDomaine" type="xs:token"/>
    <xs:attribute name="nomGrandDomaine" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name ="SemestreType">
    <xs:attribute name="idSemestre" type="xs:token"/>
    <xs:attribute name="nomSemestre" type="xs:string"/>
  </xs:complexType>

  <!-- ******************************* -->
  <!-- DEFINITIONS DES CLES ETRANGERES -->
  <!-- ******************************* -->

  <!--
  <xs:keyref name="competenceIdKeyRef" refer="competenceIdKey">
    <xs:selector xpath="expression_XPath" />
    <xs:field xpath="expression_XPath" />
  </xs:keyref>

  <xs:keyref name="idUEKeyRef" refer="idUEKey">
    <xs:selector xpath="expression_XPath" />
    <xs:field xpath="expression_XPath" />
  </xs:keyref>

  <xs:keyref name="idUFKeyRef" refer="idUFKey">
    <xs:selector xpath="expression_XPath" />
    <xs:field xpath="expression_XPath" />
  </xs:keyref>

  <xs:keyref name="idEpreuveKeyRef" refer="idEpreuveKey">
    <xs:selector xpath="expression_XPath" />
    <xs:field xpath="expression_XPath" />
  </xs:keyref>

  <xs:keyref name="idEnseignantKeyRef" refer="idEnseignantKey">
    <xs:selector xpath="expression_XPath" />
    <xs:field xpath="expression_XPath" />
  </xs:keyref>

  <xs:keyref name="idDepartementKeyRef" refer="idDepartementKey">
    <xs:selector xpath="expression_XPath" />
    <xs:field xpath="expression_XPath" />
  </xs:keyref>

  <xs:keyref name="idFormationKeyRef" refer="idFormationKey">
    <xs:selector xpath="expression_XPath" />
    <xs:field xpath="expression_XPath" />
  </xs:keyref>

  <xs:keyref name="idSousFormationKeyRef" refer="idSousFormationKey">
    <xs:selector xpath="expression_XPath" />
    <xs:field xpath="expression_XPath" />
  </xs:keyref>

  <xs:keyref name="idGrandDomaineKeyRef" refer="idGrandDomaineKey">
    <xs:selector xpath="expression_XPath" />
    <xs:field xpath="expression_XPath" />
  </xs:keyref>

  <xs:keyref name="idSemestreKeyRef" refer="idSemestreKey">
    <xs:selector xpath="expression_XPath" />
    <xs:field xpath="expression_XPath" />
  </xs:keyref>
  -->
</xs:schema>
